<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <section id="projects" th:fragment="projects">
        <h2>MY PROJECTS</h2>
        <div class="projects-grid">
            <div class="project-card" th:each="project : ${projects}">
                <img th:src="@{${project.imageUrl}}" th:alt="${project.title} + ' Project Image'">
                <h3 th:text="${project.title}">Project Title</h3>
                <p th:text="${project.description}">Brief description of the project.</p>
                <a th:href="${project.projectUrl}" target="_blank">Ver Proyecto</a>
            </div>
        </div>
    </section>
</body>

</html>